

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.letra-acessível{
  display: inline-block;
  border: 1px solid gray;
  padding: 10px;
  margin: 4px;
  font-size: 120%;
  text-align: center;
  width: 35px;
  height: 30px;
  background-color: chocolate;

}
.palavras-empty{
  display: inline-block;
  border: 1px solid gray;
  padding: 10px;
  margin: 4px;
  font-size: 120%;
  text-align: center;
  width: 100%;
  height: 30px;
}
.game-over{
  text-align: center;
  color: red;
  font-size: 100px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-style: groove;
  margin-top: 300px;
  background-color: black;
  white-space: normal;
  
  
}
.button{
  width: 100%;
  color: red;
    text-align: center;
    padding: 15px 20px;
    border: 1px solid #eee;
    border-radius: 6px;
    background-color: black;
    font-size: 18px;
}